# Node / Nest
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env / secrets
.env
.env.*
*.pem
*.key

# Docker volumes (dados locais)
postgres/
redis/
rabbitmq/
minio/
traefik/letsencrypt/

# Logs
*.log

# OS / editor
.DS_Store
.idea/
.vscode/

documentacao.txt
prompt-codex.txt

# backups gerados na VPS
*.bak.*
docker-compose.yml.bak.*
**/Dockerfile.bak.*
